
<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" >
    <a class="navbar-brand" routerLink=""><img src="./assets/img/logo.png" width="40" height="40" class="d-inline-block align-top" alt="" loading="lazy"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="" routerLinkActive="active current" [routerLinkActiveOptions]="{ exact: true }">Pocetna</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/readIds" routerLinkActive="active current" [routerLinkActiveOptions]="{ exact: true }">Ocitaj licnu kartu</a>
        </li>
        </ul>
      </div>
    </nav>
  
  