<!doctype html>
<html>
	<head>
		<style>
			body {
 				 padding-top: 6.5rem;
				}
		</style>
	</head>
	<body>
		<main role="main">
			<div class="jumbotron" >
			  <div class="container">
				<h2 class="display-4"><b>Dobrodosli</b></h2>
				<p>Nalaziš se na početnoj stranici aplikacije Licna Karta. Ova aplikacija Vam nudi ocitavanje licne karete u pretrazivacu i cuvanje iste. </p>
				<p>Da bi ocitao licnu kartu, predji na sledecu stranicu.</p>
				<p><a class="btn btn-primary btn-lg" routerLink="/readIds" routerLinkActive="active current" [routerLinkActiveOptions]="{ exact: true }">Ocitaj licnu kartu &raquo;</a></p>
			  </div>
			</div>
		  </main>
	</body>
	</html>